body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
}

#title {
    padding-bottom: 20px;
}